* {
  box-sizing: border-box;
  overflow-x: none;
  scroll-behavior: smooth;
}

body{
 background-color: #dbd8d888;
}

#navbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 10px 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  background-color: black;
}

#img-logo {
  height: 30px;
  width: 55px;
  margin-left: -15px;
}

section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#HOME {
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url(./bg-back-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 90vh;
  width: 100%;
  flex-direction: column;
}

.nav-item:hover {
  text-decoration: underline rgb(255, 255, 255);
}
#HOME h2 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-shadow:
    0px 1px 0px #ccc,
    0px 2px 0px #ccc,
    0px 3px 0px #ccc,
    0px 4px 0px #ccc,
    0px 5px 0px #ccc,
    0px 6px 0px #ccc,
    0px 7px 0px #ccc;
}

#About img {
  height: 380px;
  margin-left: 10px;
  margin-top: 30px;
}
#About {
  height: 103vh;
  width: 100%;
  background-color: gray;
}



 #Product #box{
    position: relative;
    left: -80px;
 }

@media (378px <= width <=760px) {
  #home-image {
    width: 400px;
  }

  #btn-top {
    display: none;
  }

  #list{
    width: 200px;
    height: 400px;
    padding: 20px;
  }

 #About img {
  height: 280px;
  margin-left: 10px;
  margin-top: 50px;
}
 
 #About p{
    font-size: 12px;
 }

  #box div{
    padding-bottom: 26px;
  }

 #box div p{
  font-size: 12px;
 }

}

.card:hover {
  transform: scale(1.1);
}

#image {
  height: 190px;
  width: 100%;
}

.card {
  width: 360px;
  height: 53vh;
  background: #e5e5e5 !important;
  border: none !important;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.card {
  box-shadow: 0px 5px 15px #888585;
  cursor: pointer;
  transition: all 0.2s linear;
}

 
.a {
  text-decoration: none;
  color: white;
  background-color: rgb(2, 41, 56);
  height: 45px;
  width: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:20px;
  transition: all 0.2s linear;
  text-transform: capitalize;
}

.a:hover {
  transform: scale(1.1);
  color: rgb(19, 11, 11);
  background: linear-gradient(rgb(182, 27, 27), rgb(205, 146, 36));
}

textarea {
    resize: none ;
    height: 40vh;
    font-size: 15px;
}

footer{
    background-color: rgba(98, 98, 102, 0.836);
     text-align: center;
     height: 40px;
     padding-top: 8px;
     display: flex;
     justify-content: center;
     align-items: center;
}